@font-face {
    font-family: 'Starjedi';
    src: local('☺'), url('../assets/fonts/Starjedi.ttf') format('truetype');
    font-weight: normal;
    font-style: normal
}

@font-face {
    font-family: 'Starjhol';
    src: local('☺'), url('../assets/fonts/Starjhol.ttf') format('truetype');
    font-weight: normal;
    font-style: normal
}