////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// Colors
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
$mainThemeColor: #ffe300;


////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// Media query
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
$bpXs : 575px;
$bpSm : 768px;
$bpMd : 991px;
$bpLg : 1199px;

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// Mixin
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
@mixin pageLayout {
    border-radius: 10px;
    padding: 30px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);
}